body {
  align-items: center;
  display: flex;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}
body div {
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
div#smileys input[type="radio"] {
  -webkit-appearance: none;
  width: 90px;
  height: 90px;
  border: none;
  cursor: pointer;
  transition: border .2s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0 5px;
  transition: all .2s ease;
}
div#smileys input[type="radio"]:hover,
div#smileys input[type="radio"]:checked {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
div#smileys input[type="radio"]:focus {
  outline: 0;
}
div#smileys input[type="radio"].happy {
  background: url('img/happy_ampvnc.svg') center;
  background-size: cover;
}
div#smileys input[type="radio"].neutral {
  background: url('img/neutral_t3q8hz.svg') center;
  background-size: cover;
}
div#smileys input[type="radio"].sad {
  background: url('img/sad_bj1tuj.svg') center;
  background-size: cover;
}
.mtt {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: #999;
  text-decoration: none;
}
.mtt span {
  color: #e74c3c;
}
.mtt:hover {
  color: #666;
}
.mtt:hover span {
  color: #c0392b;
}

.row>input{
   width:200px
}

.custom-control>label{

padding: 10px;
}
